/* Michael Lam's comments
For CSS: 
a . means for a <div>
regular classes like head, body, h1 are by themselves
# refers to an #id (check w3schools) */

/* #1A2238 #9DAAF2 #FF6A3D #F4DB7D | colour theme */

/* use these comments to turn off CSS on the website instead of doing it in the 4 html files. */

.homepageTitle {background-color: #F4DB7D; color: #1A2238; font-size: 48px; text-align: center; margin-left: auto; margin-right: auto; font-family: Arial, Helvetica, sans-serif;}

.pastTitle {background-color: #FF6A3D; color: #FFFFFF; font-size:48px; text-align: center; margin-left: auto; margin-right: auto; font-family: Arial, Helvetica, sans-serif;}

.futureTitle {background-color: #9DAAF2; color: #FFFFFF; font-size:48px; text-align: center; margin-left: auto; margin-right: auto; font-family: Arial, Helvetica, sans-serif;}

.commentsTitle {background-color: #1A2238; color: #FFFFFF; font-size:48px; text-align: center; margin-left: auto; margin-right: auto; font-family: Arial, Helvetica, sans-serif;}

.heading1Past {background-color: #FF6A3D; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 300px;}

.heading1Future {background-color: #9DAAF2; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 300px;}

.heading1CommentsBlue {background-color: #9DAAF2; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 300px;}

.heading1CommentsOrange {background-color: #FF6A3D; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 300px;}

.heading1CommentsYellow {background-color: #F4DB7D; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 300px;}

.exampleBlack {border: 5px solid #FFFFFF; background-color: #1A2238; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 1200px; text-align: center;}

.exampleBlue {border: 5px solid #FFFFFF; background-color: #9DAAF2; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 1200px; text-align: center;}

.exampleOrange {border: 5px solid #FFFFFF; background-color: #FF6A3D; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 1200px; text-align: center;}

.exampleYellow {border: 5px solid #FFFFFF; background-color: #F4DB7D; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 1200px; text-align: center;}

.heading1Index {background-color: #F4DB7D; color: #1A2238; font-family: Arial, Helvetica; margin-left: 300px; margin-right: 300px;}

.blue-text {color: #9DAAF2;}

.indeximageA {margin-left: auto; margin-right: auto; margin-top: 25px; margin-bottom: 25px; text-align:center;}

.right {position: relative; right: 300px; width: auto; border: 0px solid #FFFFFF; padding-left:0px; padding-right:10px; padding-top:10px; padding-bottom:10px}
.left {position: relative; left: 300px; width: auto; border: 0px solid #FFFFFF; padding-left:10px; padding-right:0px; padding-top:10px; padding-bottom:10px}

.callout {position: relative; right: 0px; width: 600px; border: 3px solid #FFFFFF; padding-left:10px; padding-right:10px; padding-top:10px; padding-bottom:10px}

footer {border: 1px solid #FFFFFF; margin-left: auto; margin-right: auto;}

body {background-color: #1A2238; color: #FFFFFF;}

p {width:1200px; text-align:justify; position: relative; margin-left:auto; margin-right:auto; margin-bottom:25px; margin-top:25px; font-size: 22px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

table {margin-left:auto; margin-right:auto;}

td {border: 5px solid; border-color: #FFFFFF; background-color:#FFFFFF; width:300px; text-align:center;}

a {font-size: 25px; text-decoration: none; color: #1A2238; font-family: Arial, Helvetica, sans-serif}

ul li {width: 1200px; font-size: 22px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 5px; padding: 2px; text-align: justify;}

ol li {width: 1200px; font-size: 22px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 5px; padding: 2px; text-align: justify;}

#success {color: #F4DB7D}
#money {color: #FF6A3D}
#recycle {color:#9DAAF2}